    <section class="hero">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6><em class="text-lg ml-6">Need Medicines?</em></h6>
                <h1 class="text-6xl font-bold ml-6">Don't Wait !!</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold btn-primary ml-6 mt-4">Order Now</button>
            </div>
            <div class="w-1/2 mb-6 mt-6">
                <img src="/img/banner3.jpg" style="border-radius: 50%;height:420px; margin-left: 200px;">
            </div>
        </div>
    </section>

    <section class="menu container mx-auto py-8 products">
    <h1 class="text-xl font-bold mb-8 ml-6">Avaiable Products</h1>
    <div class="grid grid-cols-4 gap-y-6 gap-x-6 mb-6">
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/amoxilin.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Amoxicillin</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">21 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹100.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/azicip.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Azicip-500</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">3 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹50.60</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/cetrizine.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Cetrizine-10mg</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹13.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/dexona.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Dexamethasone</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹112.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/dolo_650.png">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Dolo-650</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">12 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹50.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/doxycyclin.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Microdox-LBX</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹250.08</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/gliptagreat.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Gliptagreat M500</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹150.65</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/ibuprofen.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Ibruwell-400</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹40.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/metformin.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Metformin 500</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">14 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹124.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/paracetamol.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Parvis-650</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹40.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/ibuprofen.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Phexin BD</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹56.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/telmekind.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Telmikind-H</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹70.35</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/vitamin_c.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Ricarlo</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹140.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/vitamin_e.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">E-Gen</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹240.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/zerodol.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Zerodol-SP</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">10 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹134.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-64 mb-8">
            <img class="h-40 mb-4 mx-auto" src="/img/zincovit.jpg">
            <div class="text-center">
                <h2 class="mb-4 text-lg ">Zincovit</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">15 capsules</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹180.45</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
